body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

.menu {
    display: none;
}

header {
    background-color:darkred;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

header::before {
    background-color:aqua;
}

h5{
    text-align: center;
    background-color: brown;
}
