body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

.menu {
    display: none;
}

header {
    background: #81561a;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

h5{
    text-align: center;
}

.w3-container{
    padding: 50
}