body{
    margin: 0;

}

.container{
    width: 80%;
    margin: 0 auto;
}

header {
    background: #81561a;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav{
    float: center;
}
 nav ul{
     margin: 0;
     padding: 0;
     list-style: none;
 }

 nav li{
    display: inline-block;
    
 }